<!doctype html>
<html>
   <head>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <style>
        div {
            text-align: center;
        }
    </style>
    <script>
         $(document).ready(function(){
            $('#getMethod').click(function() {
               var get = 'GET METHOD CALL';
                //Ajax GET Method TEST
                $.ajax({
                      url: '/ajax/get',
                      dataType: 'json',
                      type: 'GET',
                      data: {data:get},
                      success: function(result) {
                          if (result) {
                            $('#get_output').html(result.result);
                          }
                     }
                  });
            });

            $('#postMethod').click(function() {
               var post = 'POST METHOD CALL';
                //Ajax POST Method TEST
                $.ajax({
                    url: '/ajax/post',
                      dataType: 'json',
                      type: 'POST',
                      data: {data:post},
                      success: function(result) {
                          if (result) {
                             $('#post_output').html(result.result);
                          }
                      }
                  });
            });
         });
      </script>
   </head>
   <body>
        <h1>Ajax 기본 테스트</h1>
        <div style="border: 3px solid gray; width: 180px;">
            <h2>GET</h2>
            <button id='getMethod'>GET</button>
            <p id ='get_output'>
                get
            </p>
        </div>

        <div style="border: 3px solid gray; width: 180px;">
            <h2>POST</h2>
            <button id='postMethod'>POST</button>
            <p id ='post_output'>
                post
            </p>
        </div>
   </body>
</html>
