<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    <h1>Stock Trading Plaform</h1>
    <h2>Home Page</h2>
    <a href="/users">회원 조회</a><br>
    <a href="/markets">시장</a><br>
    <a href="/login">로그인</a><br>
    <a href="/portfolios">포트폴리오</a><br>
    <a href="/forums">게시판</a><br>
    <img src="/images/home.jpg" style="width:500px; display:block;">
</body>

</html>