<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <div class="container px-5">
            <a class="navbar-brand" href="/">12Stocks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">홈</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">서비스</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!">접근</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/login">로그인</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row my-5"></div>

  </header>

  <main>
    <div class="container-md my-3">
      <div class="row justify-content-around">
        <!-- side bar -->
        <div class="col-md-2 d-flex align-items-center border border-2">
          <div class="container d-grid gap-4">
            <div class="row p-1 justify-content-center border">
              <h4 class="m-3"><p class="text-center m-0 pb-1">주요종목</p></h4>
              <div class="row justify-content-evenly border">
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l1</a></p></div>
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l2</a></p></div>
              </div>
              <div class="row justify-content-evenly border">
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l1</a></p></div>
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l2</a></p></div>
              </div>
            </div>
            <div class="row p-1 justify-content-center border">
              <h4 class="m-3"><p class="text-center m-0 pb-1">주요종목</p></h4>
              <div class="row justify-content-evenly border">
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l1</a></p></div>
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l2</a></p></div>
              </div>
              <div class="row justify-content-evenly border">
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l1</a></p></div>
                <div class="col-4 border"> <p class="text-center m-0"><a href="#" class="link-secondary">l2</a></p></div>
              </div>
            </div>
          </div>
        </div>
        <!-- main container -->
        <div class="col-md-9 py-3 border border-2">
          <!-- charts -->
          <div class="row border justify-content-evenly">
            <div class="col-4">
              <div class="card text-start">
                <div class="card-body">
                  <h4 class="card-title">코스피 차트</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card text-start">
                <div class="card-body">
                  <h4 class="card-title">코스닥 차트</h4>
                  <p class="card-text">Body</p>
                </div>
              </div>
            </div>
          </div>
          <!-- search bar -->
          <div class="row border">
            <div class="navbar">
              <div class="container bg-warning p-3">
                <div class="row">
                  <a href="#">검색바</a>
                </div>
              </div>
            </div>
          </div>
          <!-- informations -->
          <div class="container-md d-grid gap-2">
            <div class="row border justify-content-evenly">
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">최근 조회 목록</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">인기 조회 목록</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row border justify-content-evenly">
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">상승률 상위</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">하락률 상위</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row border justify-content-evenly">
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">거래량 사위</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card text-start">
                  <div class="card-body">
                    <h4 class="card-title">시가 총액 상위</h4>
                    <p class="card-text">Body</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

  <footer>
    <!-- place footer here -->
    <footer class="py-5 my-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>