<!DOCTYPE html>
<html>

<head>
  <%-include('../base/header.ejs') %>
  <title>markets</title>
</head>

<body>
  <%-include('../base/navbarTop.ejs')-%>

    
  <%-include('../base/footer.ejs')%>

</body>

</html>